<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div>Header</div>
<div style="clear: both;">
    {% block content %}{% endblock %}
</div>
<div>Footer</div>
</body>
</html>