{% extends "BlogBundle:Default:layout.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
        </form>
    </div>


    <h1>{{ 300000|turksat(2, ',') }}</h1>

    {% autoescape false %}
        {{ turksatFunc("Türksat AŞ.") }}
    {% endautoescape %}


    <br>
    {{ post.content|striptags }}
        {% for post in other_posts %}
            {{ include("BlogBundle:Default:blog_item.html.twig", {'item' : post}) }}
        {% endfor %}

{% endblock %}